# Byte-compiled / Optimized / DLL Files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# Environment Variables
.env
.env.*

# Testing and Coverage
.pytest_cache/
coverage.xml
*.cover

# OS and Editor files
.DS_Store
.idea/
.vscode/
*.swp
